.nav-link{
    color: white !important;
    font-size: 14px;
}
.navbar-brand img{
    width: 79px;
}
nav{
    background: #282828;
input{
    width: 350px;
    padding: .5rem .8rem;
}
@media(max-width:1030px){
     input{
        width: 100%;
    }
}
select{
    padding: .74rem .8rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.input-icon{
    padding: .87rem;
    background: #41ADA0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
}