<app-navbar></app-navbar>
<section>
  <h3 class="py-5 font64 font-bold container text-center">
    We've got amazing plans for you
  </h3>
  <section class="px-4 sm-p-none hidden pb-5">
    <div class="price-cards">
      <div class="row">
        <div class="col-lg-4 col-sm-12 sm-border">
          <div class="p-4 pt-5">
            <h3 class="font24 font-bold">Bronze</h3>
            <p class="text-grey py-3">The ultimate creative Plan</p>
            <p class="pb-3 text-grey">
              From <span class="font-bold font24">N500/m</span>
            </p>
            <button
              class="btn form-control bg-red text-white font-bold " routerLink='purchase/bronze'
            >
              Start now
            </button>
            <div class="text-grey mt-4">
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Thousands
                of creative digital assets
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />100 photos
                daily limit
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Courses &
                tutorials
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Simple
                commercial licensing
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Cancel any
                time
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 border-x sm-border">
          <div class="p-4 pt-5">
            <h3 class="font24 font-bold">Silver</h3>
            <p class="text-grey py-3">Save as you add members</p>
            <p class="pb-3 text-grey">
              From <span class="font-bold font24">N1000/m</span> per member
            </p>
            <button
              class="btn form-control bg-red text-white font-bold "
              routerLink='purchase/silver'
            >
              Start now
            </button>
            <div class="text-grey mt-4">
              <p class="text-green font-bold pb-3 mb-5 line-under">
                Everything in Bronze, plus:
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />200 photos
                daily limit
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Simple
                commercial licensing
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Cancel any
                time
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 sm-border">
          <div class="p-4 pt-5">
            <h3 class="font24 font-bold">Gold</h3>
            <p class="text-grey py-3">Custom solutions for your organization</p>
            <p class="pb-3 text-grey font-bold font24">N2000/m</p>
            <button
              class="btn form-control bg-red text-white font-bold "
              routerLink='purchase/gold'
            >
            Start Now
            </button>
            <div class="text-grey mt-4">
              <p class="text-green font-bold pb-3 mb-5 line-under">
                Everything in Bronze, plus:
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Unlimited
                photos daily limit
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Simple
                commercial licensing
              </p>
              <p>
                <img src="assets/img/mark.png" alt="" class="mr-2" />Cancel any
                time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white px-4 py-5">
    <h3 class="font-bold font24 text-center">Easy and secure payment</h3>
    <div class="row py-4">
      <div class="col-lg-4 col-sm-12">
        <div class="m-2 p-4 border">
          <img src="assets/img/credit-card.png" alt="" />
          <h3 class="font18 font-bold my-3">Trusted payment methods</h3>
          <p class="font12 font-bold text-grey">
            Pay with Visa, Mastercard or Bank Transfer
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 sm-mt">
        <div class="m-2 p-4 border">
          <img src="assets/img/shield.png" alt="" />
          <h3 class="font18 font-bold my-3">Trusted payment methods</h3>
          <p class="font12 font-bold text-grey">
            Pay with Visa, Mastercard or Bank Transfer
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 sm-mt">
        <div class="m-2 p-4 border">
          <img src="assets/img/lock.png" alt="" />
          <h3 class="font18 font-bold my-3">Trusted payment methods</h3>
          <p class="font12 font-bold text-grey">
            Pay with Visa, Mastercard or Bank Transfer
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
